<html>
<head>
<title> Form Creation </title>
<marquee loop=10 behaviour="SLIDE" direction="RIGHT"> welcome 
</marquee>
<body  bgcolor=108980  > <FONT SIZE=16 COLOR=10001> <B> <I> </B> </I>
	<form align="center"> A Basic Form
	<p> Username <input type="text" maxlength=10 size=8 > </input></p>
	<p> Password <input type="password" maxlength=10 size=7 > </input></p>
	<p> <input type="Submit" value="LOGIN"> </input> </p>
	<p> <input type="Reset" value="SIGN IN"> </input></p>
	</form>
<BR>

<A HREF="mailto:khurmitwinkle62@gmail.com">
	For more info
	</A>
&COPY <ADDRESS> Twinkle <BR>	
</body>
</head>
</html>
